.loginpage {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 24px 0px;  
  margin: 32px auto;    
  max-width: 1024px;     
}

.loginpage p {
  flex: 1;
  font-size: 40px;
  max-width: 700px; 
}

.loginpage .wrapper {
   flex: 1;
  display: flex;
  justify-content: center; 
}